<div class="play">
    <!-- EVENT MODAL -->
    <div class="modal__facts">
        <div class="event__fact" id="eventFact">Fact: {{fact}}
        </div>
    </div>
    <div class="modal__options">
        <a class="modal__choice" id="optionA">1.{{optionA}}</a>
        <a class="modal__choice" id="optionB">2.{{optionB}}</a>
        <a class="modal__choice" id="optionC">3.{{optionC}}</a>
    </div>
    <!-- END EVENT MODAL-->
    <div class="status">
        <div class="astronautLives">
            <div class="astronaut__block" id="astronautOne">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautOne}}</div>
            </div>
            <div class="astronaut__block" id="astronautTwo">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautTwo}}</div>
            </div>
            <div class="astronaut__block" id="astronautThree">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautThree}}</div>
            </div>
            <div class="astronaut__block" id="astronautFour">
                <div class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautFour}}</div>
            </div>
        </div>
        <div class="oxygen">
        </div>
        <div class="fuel">
        </div>
    </div>
    <div class="checkpointOne">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointTwo">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointThree">
        <div class="rocketGo"></div>
    </div>
    <div class="update">
        <div class="statusBar__outer">
            <div class="statusBar__inner">
                <div class="statusBar__text" id="status">{{status}}
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="controlBar__content">
            <div class="controlBar__metrics">
                <div class="control__item">Days Travelled:</div>
                <div class="control__item">Sols Travelled:</div>
                <div class="control__item">Space Weather:</div>
                <div class="control__item">Oxygen:</div>
                <div class="control__item">Fuel:</div>
                <div class="control__item">Next Landmark:</div>
                <div class="control__item">km Travelled:</div>
                <div class="control__item">Speed:</div>
            </div>
            <div class="controlBar__data"></div>
                <div class="control__item" id="earthDays">{{days}}</div>
                <div class="control__item" id="marsDays">{{sols}}</div>
                <div class="control__item" id="spaceWeather">{{spaceWeather}}</div>
                <div class="control__item" id="oxygen">{{oxygen}}</div>
                <div class="control__item" id="fuel">{{fuel}}</div>
                <div class="control__item" id="toCheckpoint">{{toCheckpoint}}</div>
                <div class="control__item" id="travelled">{{distance}}</div>
                <div class="control__item">
                    <div class="switch-field gameplay">
                        <div id="switch_left" class="speedChangeButton">slow</div>
                        <div id="switch_right" class="speedChangeButton">fast</div>
                    </div>
                </div>
            </div>
            <!-- add a save button here to work with api route to save current data -->
        </div>
    </div>
</div>

<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/timeout.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/app.js"></script>
<script src="/js/index.js"></script>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>

{{!-- Fetch to retrieve space weather data --}}
<script type="text/javascript">
    var kIndex;
    var url = 'https://services.swpc.noaa.gov/products/noaa-planetary-k-index.json';

    var weatherReport = ['cold front', 'nippy', 'muggy', 'wear shorts', 'sunny w/ a high of uv', 'the electron shuffle', 'danger, stay indoors', 'seriously, who popped a sun spot', 'direct eye contact will cause death']

    fetch(url)
        .then(response => {
            return response.json();
        }).then(data => {
            // Work with JSON data here
            var spaceWeather = data[1];
            kIndex = spaceWeather[1];
            console.log(kIndex);
            $('#spaceWeather').text(weatherReport[kIndex]);
        }).catch(err => {
            // Do something for an error here
            throw err
        });

</script>