<div class="play">
    <!-- EVENT MODAL -->
    <div class="modal__facts">
        <div class="event__fact" id="eventFact">Fact: {{fact}}
        </div>
    </div>
    <div class="modal__options">
        <a class="modal__choice" id="optionA">1.{{optionA}}</a>
        <a class="modal__choice" id="optionB">2.{{optionB}}</a>
        <a class="modal__choice" id="optionC">3.{{optionC}}</a>
    </div>
    <!-- END EVENT MODAL-->
    <div id="missionNo" data-id="{{id}}"></div>
    <div class="progressDisplay">
        <div class="progress"></div>
        <div class="progressTitle">Progress toward Mars</div>
    </div>
    <div class="status">
        <div class="astronautLives">
            <div class="astronaut__block" id="astronautOne">
                <div id="astHelmOne" class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautOne}}</div>
            </div>
            <div class="astronaut__block" id="astronautTwo">
                <div id="astHelmTwo" class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautTwo}}</div>
            </div>
            <div class="astronaut__block" id="astronautThree">
                <div id="astHelmThree" class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautThree}}</div>
            </div>
            <div class="astronaut__block" id="astronautFour">
                <div id="astHelmFour" class="astronaut__helmet"></div>
                <div class="astronaut__name">{{astronautFour}}</div>
            </div>
        </div>
        <div class="oxygen">
        </div>
        <div class="fuel">
        </div>
    </div>
    <div class="checkpointOne">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointTwo">
        <div class="rocketGo"></div>
    </div>
    <div class="checkpointThree">
        <div class="rocketGo"></div>
    </div>
    <div class="update">
        <div class="statusBar__outer">
            <div class="statusBar__inner">
                <div class="statusBar__text" id="status">You're cruising to the moon to begin your journey with a slingshot manuever{{status}}
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="controlBar__content">
            <div class="controlBar__metrics">
                <div class="control__item">Days Travelled:</div>
                <div class="control__item">Sols Travelled:</div>
                <div class="control__item">Space Weather:</div>
                <div class="control__item">Oxygen %:</div>
                <div class="control__item">Fuel %:</div>
                <div class="control__item">Next Landmark:</div>
                <div class="control__item">km Travelled:</div>
                <div class="control__item">Speed:</div>
            </div>
            <div class="controlBar__data"></div>
                <div class="control__item" id="earthDays">0{{days}}</div>
                <div class="control__item" id="marsDays">0{{sols}}</div>
                <div class="control__item" id="spaceWeather">{{spaceWeather}}</div>
                <div class="control__item" id="oxygen">100{{oxygen}}</div>
                <div class="control__item" id="fuel">100{{fuel}}</div>
                <div class="control__item" id="toCheckpoint">348000{{toCheckpoint}}</div>
                <div class="control__item" id="travelled">{{distance}}</div>
                <div class="control__item buttons">
                    <div class="switch-field gameplay">
                        <div id="switch_left" class="speedChangeButton">slow</div>
                        <div id="switch_right" class="speedChangeButton">fast</div>
                    </div>

                </div>
            </div>
        </div>
        <!-- add a save button here to work with api route to save current data -->
    </div>
</div>
</div>

<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>


<script src="/js/timeout.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/js/progress.js"></script>