<h1>The Martian Odyssey</h1>
<hr class="title__page">
<h2>Current {{mission.missionName}}/h2>
    <strong>Description:</strong> {{mission.description}}</p>
    <strong>Mission Name:</strong> {{mission.missionName}}</p>
    <strong>Astronaut One:</strong> {{mission.astronautOne}}</p>
    <strong>Astronaut Two:</strong> {{mission.astronautTwo}}</p>
    <strong>Astronaut Three:</strong> {{mission.astronautThree}}</p>
    <strong>Astronaut Four:</strong> {{mission.astronautFour}}</p>
    <strong>Message:</strong> {{mission.message}}</p>
<a href="/">← Back To Home</a>