<h1>The Martian Odyssey</h1>
<hr class="title__page">
<h2>{{message}}</h2>
<div class="finalstats" id="missionID">Mission No: {{id}}</div>
<!--collected for posting to mysql-->
<div class="finalstats" id="missionName" data-name="{{missionName}}">{{missionName}}</div>
<div class="finalstats">{{days}}</div>
<div class="finalstats">{{astronautsAlive}}</div>
<div class="finalstats">{{distance}}</div>
<h2>{{messageTwo}}</h2>
<input type="text" id="finalMessage" name="finalMessage">
<!--collected for posting to mysql-->
<input type="submit" id="sendFinalMessage{{winloss}}" value="save">
<a class="title__option final" href="/">Back to Home</a>
<hr class="title__page bottom">


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery.js"></script>